body {
    background: rgba(0, 0, 0, 0.88);
}

.input-block {
    position: absolute;
    width: 100%;
    top: 125px;
    display: flex;
    justify-content: center;
}

.main-input {
    width: 60%;
    height: 50px;
}

.go-button {
    width: 50px;
    font-size: 17px;
    background: white;
}
