body {
    background: rgba(65, 65, 65, 0.88);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 110px;
    margin: 0 auto;
}

.input-block {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .main-input {
        width: 60%;
        height: 50px;
        font-size: 20px;
    }

    .go-button {
        width: 50px;
        font-size: 17px;
        background: white;
    }
}

.apartments-list-block {
    width: 1400px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

    .apartment-item {
        width: 300px;
        height: 200px;
        margin: 16px;
        margin-bottom: 40px;
        background: #000;
        border-radius: 16px;
    }
}

.my-card {
    border-radius: 16px;
    &:hover {
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7), 5px 5px 10px #bfc8d8, 1px 1px 3px #eff1f3,
            inset 0px 0px 10px rgba(255, 255, 255, 0.7);
    }
}
